.spa {
    // width: 500px;

    &-router {
        display: flex;
        justify-content: space-between;

        &-nav {
            width: 200px;
            display: flex;
            flex-direction: column;


        }

        &-content {
            flex: 1;
        }
    }
}

.item {
    height: 30px;
    text-decoration: none;
    // background-color: rgb(37, 135, 221);
    margin-top: 5px;
}

.active {
    background-color: rgb(13, 133, 238);
}